<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Find and Replace</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Find and Replace</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form action="/doit" method="post">
            <div class="form-group">
              <label for="phrase">Enter A Phrase</label>
              <input id="phrase" name="phrase" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="in">Enter the word/words that you want to change</label>
              <input id="in" name="in" type="text" placeholder="seperate with coma" class="form-control">
            </div>
            <div class="form-group">
              <label for="change">Enter the words that you wnat to change to</label>
              <input id="change" name="change" type="text" placeholder="seperate with coma" class="form-control">
            </div>
            <button type="submit" class="btn bg-primary">Change</button>
          </form>
        </div>

        <div class="col-md-6">
          {% if result is not empty %}
            <h2>Result:</h2>
            <h3>{{ result }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
